body{
    margin: 0;
}

.container{
    margin: auto;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 1%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-5{
    width: 50%;
}

.col-12{
    width: 100%;
}

.col-2{
    width: 25%;
}

.col-3{
    width: 33.33%;
}

nav{
    margin: 0;
}

nav ul{
    margin: 0;
    padding: 0;
    background-color: blue;
}

nav ul li{
    display: inline-flex;
    margin: 14px;
    padding-right: 50px;
}

ul li a{
    text-decoration: none;
    color: white;
}



ul li a:hover{
    text-decoration: none;
    background-color: white;
    color: black;
    border-radius: 5px;
}

ul li.nav-right{
    float: right;
}

ul.topnav li.icon{
    display: none;
}

#background{
    background-color: blue;
}

.col-5 h1.white{
    color: white;
    font-weight: 600;
    font-size: 40px;
}

.col-5 p.white{
    color: white;
}

div h1.white{
    margin-left: 30%;
}

div p.white{
    margin-left: 30%;
}

div button.btn-default{
    margin-left: 30%;
}

div.top-yoga img{
    margin-left: 15%;
    border-radius: 7px;
}

div h1.center{
    text-align: center;
    font-weight: 600;
}

div.smallimageAndpara{
    text-align: center;
    padding: 10px;
}

.panel{
    margin: 14px;
}

div.panel-body h4.panel-title{
    text-align: center;
    font-weight: 900;
    padding-bottom: 3%;
}

.panel img{
    box-shadow: 1px 1px 5px;
    display: block;
    margin: auto;
    border-radius: 7px;
}


@media (max-width: 680px){
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }

    ul.topnav li.icon{
        display: block;
        float: right;
    }

    ul.topnav.responsive{
        position: relative;
    }

    ul.topnav.responsive li{
        float: none;
        display: inline;
    }

    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }

    ul.topnav.responsive li.icon{
        position: absolute;
        top: 0;
        right: 0;
    }

    .col-5{
        width: 100%;
    }

    div p.white,
    div button.btn-default,
    div h1.white,
    div.top-yoga img{
        margin: 10px;
    }

    div.top-yoga img{
        width: 100%;
    }

    .col-5 h1.white{
        font-size: 30px;
    }

    .col-2{
        width: 50%;
    }

    div h1.center{
        font-size: 30px;
    }

    .col-3{
        width: 100%;
    }



}

@media (max-width: 797px){
    .col-5 h1.white{
        font-size: 25px;
        font-weight: 500;
    }

    div.top-yoga img{
        margin-left: 1%;
    }


}













